h3 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.margin {
    margin-top: 100px;
}

.card {
    margin-bottom: 8%;
    height: 400px;
}

.card:hover {
    background-color: #007bff;
}

.card:hover a {
    color: white;
    text-decoration: none;
}

button {
    margin-right: 5%;
}

.img-fluid {
    max-height: 300px;
}